---
import { data } from "../data.ts"
---

<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Marian Molina</title>
		<meta name="description" content="Frontend developer website (React, Typescript and more)." />
		<link rel="icon" type="image/x-icon" href="favicon.svg" id="faviconTag" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<style is:global>
			@import "../styles/global.css";
		</style>
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;800&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body
		class="mx-6 flex min-h-screen flex-col bg-color5 font-sans text-color1 transition-colors ease-in dark:bg-dark1 dark:text-dark5 sm:items-center lg:mx-12 lg:items-center xl:mx-24 2xl:mx-[8%]"
	>
		<div class="max-w-[875px]">
			<header class="flex h-16 items-end justify-end gap-16 text-color3 dark:text-color4">
				<ul class="flex gap-6">
					<li class="hover:text-color1 dark:hover:text-color5">
						<a href="mailto:hi.marianmolina@gmail.com"> Email</a>
					</li>
					<li class="hover:text-color1 dark:hover:text-color5">
						<a href="https://gitlab.com/marianmolina/"> Gitlab</a>
					</li>
				</ul>

				<button
					type="button"
					onclick="toggleTheme()"
					name="theme"
					class="flex items-center gap-2 hover:text-color1 dark:hover:text-color5"
					><svg
						width="16"
						height="16"
						viewBox="0 0 16 16"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
						class="h-5 w-5 text-[#FCD92C] dark:text-[#F0F2FD]"
					>
						<circle cx="7.77526" cy="7.77526" r="7.77526" fill="currentColor"></circle>
					</svg>
					Theme
				</button>
			</header>
			<main class="my-16 flex flex-col items-center text-center">
				<h1 class="text-[4rem] font-extrabold">
					<span
						class="bg-gradient-to-r from-blue1 to-blue3 bg-clip-text text-transparent dark:from-color5 dark:to-blue4"
						>Marian Molina</span
					>
				</h1>
				<h2 class="mt-2 text-2xl font-medium leading-[1.8] text-color3 dark:text-dark3">
					Frontend developer based in Europe
				</h2>

				<p class="mt-14 max-w-6xl text-xl leading-[2.75] text-color2 dark:text-dark3">
					Open to work · Looking forward to joining a nice and dynamic team 👋 · Code mainly with
					Typescript and React but love learning new tools and concepts 📚 · Cowrite blog posts with <a
						class="stroke-blue-800 underline"
						href="https://omarelhawary.me/blog"
						target="_blank">Omar Elhawary</a
					> 📝 · Talk French, English, Spanish and can get around with Arabic 🌏
				</p>
			</main>
			<section id="projects" class="mb-20 pt-6">
				<h3 class="mb-12 text-center text-lg font-medium text-color2 dark:text-dark3">
					My personal projects
				</h3>
				{
					data.length ? (
						<ul class="flex flex-wrap justify-center gap-8">
							{data.map((project) => (
								<li class="bg-color6 dark:bg-dark2 h-auto w-[400px] rounded-lg px-10 py-8 shadow">
									<div class="flex flex-wrap items-center justify-between gap-8">
										<div class="flex items-center gap-4">
											<img src={project.logo} alt={`${project.name}-logo`} class="h-6 w-6" />
											<h4 class="text-xl font-medium">{project.name}</h4>
										</div>
										<div class="flex gap-6">
											<a
												href={project.website}
												target="_blank"
												class="text-color3 hover:text-color2 dark:text-dark3  dark:hover:text-dark4 flex text-sm"
											>
												<p>Website</p>
											</a>
											<a
												href={project.code}
												target="_blank"
												class="fill-color2 text-color3 hover:fill-color1 hover:text-color2 dark:fill-color4 dark:text-dark3  dark:hover:fill-color6 dark:hover:text-dark4 flex text-sm"
											>
												<p>Code</p>
											</a>
										</div>
									</div>
									<div class="mt-6 mb-4 h-32 overflow-y-auto leading-8">
										<p class="mr-4 inline">{project.description}</p>
										<a
											target="_blank"
											href={project.readme}
											class="text-color3 hover:text-color2 dark:text-dark3 dark:hover:text-dark4 inline-block text-sm"
										>
											Read More.
										</a>
									</div>
									<div class="text-sm">
										<div class="flex  gap-4">
											Frontend:
											<ul class="flex flex-wrap text-sm">
												{project.tags.frontend.map((tag: string) => (
													<li class="text-color3 hover:text-color2 dark:text-dark3 dark:hover:text-dark4 px-2">
														<a href={tag[1]} target="_blank">
															{tag[0]}
														</a>
													</li>
												))}
											</ul>
										</div>
										{project.tags.backend.length === 0 ? (
											<div />
										) : (
											<div class="mt-4 flex gap-4">
												Backend:
												<ul class=" text-color3 dark:text-dark3 flex flex-wrap">
													{project.tags.backend.map((tag: string) => (
														<li class="hover:text-color2 dark:hover:text-dark4 px-2">
															<a href={tag[1]} target="_blank">
																{tag[0]}
															</a>
														</li>
													))}
												</ul>
											</div>
										)}
									</div>
								</li>
							))}
						</ul>
					) : (
						<div class="bg-color5 text-color3 shadow-color4 dark:bg-dark2 dark:text-dark3 mx-auto mb-16 flex h-64 w-5/6 items-center justify-center rounded shadow-md dark:shadow-black ">
							Coming soon...
						</div>
					)
				}
			</section>
		</div>
		<footer class="mt-6 mb-6 text-center text-xs font-light text-color2 dark:text-dark3">
			<span class="mb-2 flex justify-center">
				Built with
				<a
					href="https://www.astro.build"
					target="_blank"
					class="ml-1 underline decoration-color4 hover:text-color1 hover:decoration-color3 dark:hover:text-dark4 dark:hover:decoration-color6"
					>Astro</a
				>,
				<a
					href="https://tailwindcss.com"
					target="_blank"
					class="ml-1 underline decoration-color4 hover:text-color1 hover:decoration-color3 dark:hover:text-dark4 dark:hover:decoration-color6"
					>Tailwind</a
				>,
				<a
					href="https://www.vitejs.dev"
					target="_blank"
					class="ml-1 underline decoration-color4 hover:text-color1 hover:decoration-color3 dark:hover:text-dark4 dark:hover:decoration-color6"
					>Vite</a
				>. View the code on
				<a
					href="https://gitlab.com/marianmolina/website"
					target="_blank"
					class="ml-1 flex underline decoration-color4 hover:text-color1 hover:decoration-color3 dark:hover:text-dark4 dark:hover:decoration-color6"
					>Gitlab
				</a>.
			</span>

			<div class="mt-2.5 mb-4 flex flex-wrap justify-center">
				©2023 Marian Molina. &nbsp
				<a
					rel="license"
					href="http://creativecommons.org/licenses/by/4.0/"
					target="_blank"
					class="underline decoration-color4 hover:text-color1 hover:decoration-color3 dark:hover:text-dark4 dark:hover:decoration-color6"
					>Creative Commons Attribution 4.0 International License</a
				>.
			</div>

			<a
				class="flex w-full justify-center text-center"
				rel="license"
				href="http://creativecommons.org/licenses/by/4.0/"
				target="_blank"
				><img
					alt="Creative Commons License"
					style="border-width:0"
					height="15"
					src="https://i.creativecommons.org/l/by/4.0/80x15.png"
				/></a
			>
			<script is:inline>
				if (
					localStorage.theme === "dark" ||
					(!("theme" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches)
				) {
					document.documentElement.classList.add("dark")
				} else {
					document.documentElement.classList.remove("dark")
				}

				window.matchMedia("(prefers-color-scheme: dark)").addEventListener("change", (event) => {
					if (event.matches) {
						document.documentElement.classList.add("dark")
						localStorage.theme = "dark"
					} else {
						document.documentElement.classList.remove("dark")
						localStorage.theme = "light"
					}
				})

				function toggleTheme() {
					if (document.documentElement.classList.contains("dark")) {
						document.documentElement.classList.remove("dark")
						localStorage.theme = "light"
					} else {
						document.documentElement.classList.add("dark")
						localStorage.theme = "dark"
					}
				}
			</script>
		</footer>
	</body>
</html>
