<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Marian Molina</title>
		<meta name="description" content="Frontend developer website (React, Typescript and more)." />
		<link rel="icon" type="image/x-icon" href="favicon.svg" id="faviconTag" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<style is:global>
			@import "../styles/global.css";
		</style>
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;800&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body
		class="mx-6 flex min-h-screen flex-col justify-center overflow-hidden bg-color5 font-sans text-color1 transition-colors ease-in dark:bg-dark1 dark:text-dark5 sm:items-center lg:mx-12 lg:items-center xl:mx-24 2xl:mx-[8%]"
	>
		<div>Coming Soon</div>
		<script></script>
	</body>
</html>
